 .navColumn {
  background-color: #444680 !important;
  color: #FFFFFF !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

 .nav-link.active {

}
.cardHeader{
background-color: #444680 !important;
  color: #FFFFFF !important;
  border-bottom: solid 4px white !important;
}

.formButton{
  background-color: #444680 !important;
    border-color:  #444680 !important;
    color: #FFFFFF !important;
   }